<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="Passport" connectionString="Data Source=DevDB; User ID=xmlwebsvc; pwd=cvsbewlmx; Initial Catalog=mPassport" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  
  </system.web>
  <system.serviceModel>

    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
    multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="UserService.svc" service="WCFUserService.UserService, UserService" />
      </serviceActivations>
    </serviceHostingEnvironment>-->
    
    <services>
     
      <service name="WCFUserService.UserService" behaviorConfiguration="soapBehavior">
        <endpoint address="UserService" binding="basicHttpBinding" contract="WCFUserService.IUserService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:59340/"/>
          </baseAddresses>
        </host>
      </service>  
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="soapBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    </system.serviceModel>
  </configuration>
